rules_version = '2';


service cloud.firestore {

  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    // user collection
    match /users/{uid} {
      function isOwner() {
        return request.auth.uid == uid;
      }

      // user can write their own data only
      allow create:
        if isSignedIn() && isOwner() && !exists(/databases/$(database)/documents/users/$(request.auth.uid));

      allow update: if isSignedIn() && isOwner();

      // only owner can read self profile. we'll
      allow get: if isSignedIn() && isOwner();

      allow list;
    }
  }

}
